<div {{ editorAttr(element, edit) }} class="{{ elementClasses(element) }}">
    <p class="text-muted">
        <sup>1</sup> Weitere Informationen zum offiziellen Kraftstoff verbrauch und den offiziellen spezifischen
        CO2-Emissionen neuer Personenkraftwagen können dem „Leitfaden über den Kraftstoff verbrauch
        und die CO2-Emissionen neuer Personenkraftwagen“ entnommen werden, der an allen Verkaufsstellen
        und bei der Deutschen Automobil Treuhand GmbH unter
        <a rel="nofollow" href="http://www.dat.de/angebote/verlagsprodukte/leitfaden-kraftstoffverbrauch.html">www.dat.de</a>
        unentgeltlich erhältlich ist.
    </p>
</div>
