<div {{ editorAttr(element, edit) }} class="{{ elementClasses(element) }} mt-4 mb-4">
    {% if edit %}
        <div class="alert alert-warning">
            Veraltete NEFZ-Angaben. Bitte löschen Sie dieses Element.
        </div>
    {% endif %}
</div>
