<div {{ editorAttr(element, edit, 'bg-warning') }} class="{{ elementClasses(element) }}">
    {% if element.data.image is defined and element.data.image %}
        {% set showOriginal = element.data.settings.showOriginal ?? false %}
        {% set grayscale = element.data.settings.grayscale ?? false %}
        {% set fixOrientation = element.data.settings.fixOrientation ?? false %}
        {% set image = element.data.image %}
        {% set width = element.data.settings.width ?? null %}
        {% set height = element.data.settings.height ?? null %}
        {% set title = element.data.title ?? '' %}
        {% include '@CmsElements/BetterDefault/responsive_image.html.twig' %}
    {% endif %}
</div>
